<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ListenerApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ListenerGS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9D5155EE26A1EF7B0075EBC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D5155FF26A1EF7C0075EBC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D51560A26A1EF7C0075EBC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D62FC5F27C494D700AEE01F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D62FC6F27C494D900AEE01F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D62FC7927C494D900AEE01F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
